.carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  background-image: linear-gradient(
    90deg,
    transparent,
    transparent,
    var(--dark-color),
    var(--dark-color),
    var(--dark-color)
  );
}
.carousel_texts {
  padding-right: 40px;
  overflow: hidden;
}
.carousel_title {
  margin-bottom: 20px;
  font-size: calc(1.25 * var(--font-size));
}
.carousel_links {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.carousel_link {
  text-decoration: none;
  color: var(--contrast-color);
  opacity: 0.8;
  transition: 0.3s;
}
.carousel_link:hover {
  opacity: 1;
}
.carousel_buttons {
  position: absolute;
  bottom: 0;
  right: 50%;
}
.carousel_button {
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  border: none;
  cursor: pointer;
  background: var(--darker-color);
  color: var(--light-color);
  opacity: 0.8;
  transition: 0.3s;
}
.carousel_button:hover {
  opacity: 1;
  background-color: var(--dark-grey);
}
.carousel_button:active {
  background: var(--contrast-color);
}
.carousel_images {
  display: grid;
  grid-template-rows: repeat(4, 125px);
  grid-template-columns: repeat(3, 1fr);
}
.carousel_image-box {
  overflow: hidden;
  border: 2px solid var(--dark-color);
}
.carousel_image-box--1 {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  border-right: none;
}
.carousel_image-box--2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.carousel_image-box--3 {
  grid-column: 1 / 4;
  grid-row: 3 / 5;
  border-top: none;
}
.carousel_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* transitions */
.slideL-appear {
  opacity: 0;
  transform: translate(-300px);
}
.slideL-appear.slideL-appear-active {
  opacity: 1;
  transform: translate(0);
  transition: all 500ms;
}
.slideR-appear {
  opacity: 0;
  transform: translate(100px);
}
.slideR-appear.slideR-appear-active {
  opacity: 1;
  transform: translate(0);
  transition: all 400ms;
}

.carousel_technologiesUsedCnt {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.carousel_technologiesUsed {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
}

.carousel_technologiesUsed .technology_icon {
  width: 12%;
  padding: 0.5%;
}

.carousel_technologiesUsed .technology_icon .background_icon_fil {
  fill: var(--dark-color);
  filter: drop-shadow(0 0.2mm 0.2mm var(--grey));
}

.carousel_technologiesUsed .technology_icon:hover .background_icon_fil {
  fill: var(--darker-color);
  filter: drop-shadow(0 0.2mm 0.2mm var(--light-color));
}

@media only screen and (max-width: 1100px) {
  .carousel_images {
    grid-template-rows: repeat(4, 100px);
  }
}

@media only screen and (max-width: 900px) {
  .carousel {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 50px;
    background-image: linear-gradient(
      90deg,
      transparent,
      var(--dark-color),
      var(--dark-color),
      transparent
    );
  }
  .carousel_texts {
    min-height: 200px;
    order: 2;
    width: 70%;
    margin: 30px auto;
    padding-right: 0;
  }
  .carousel_buttons {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
  }
  .carousel_images {
    display: block;
    height: 400px;
  }
  .carousel_image-box--1,
  .carousel_image-box--2 {
    display: none;
  }
  .carousel_image-box--3 {
    height: 100%;
    border-top: 2px solid var(--dark-color);
    box-shadow: inset 0 0 25px var(--dark-color);
  }
  .carousel_texts p,
  .carousel_texts a {
    font-size: calc(0.875 * var(--font-size));
  }
  .carousel_links {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .carousel_technologiesUsed .technology_icon {
    width: 13%;
  }
}

@media only screen and (max-width: 700px) {
  .carousel_images {
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .carousel_images {
    height: 275px;
  }

  .carousel_technologiesUsed .technology_icon {
    width: 14%;
  }
}

@media only screen and (max-width: 500px) {
  .carousel_title {
    font-size: calc(0.875 * var(--font-size));
  }
  .carousel_texts p,
  .carousel_texts a {
    font-size: calc(0.75 * var(--font-size));
  }

  .carousel_images {
    height: 225px;
  }
  .carousel_texts {
    width: 90%;
  }
}

@media only screen and (max-width: 425px) {
  .carousel_images {
    height: 200px;
  }
}

@media only screen and (max-width: 375px) {
  .carousel_images {
    height: 170px;
  }
}
